.navbar-nav{
padding-top: 2rem;
    width: 70%;
    margin: auto;
}
.nav-item{
    margin: auto;
}
.nav-link:hover{
    border-bottom: 1px solid #fff;
/* transition: all .2s; */
/* transform: cap 1s infinit; */
}
.nav-link{
cursor: pointer;
transition: all .2s;
animation:link 1s infinite;
}

@keyframes link{
    0%{
transform: scale(1);
box-shadow: none;        
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, .25);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}
.header{
/* padding-top: 50rem; */
    background-image: url(../images/desk3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.header-main{
    padding-top: 12rem;
padding-bottom: 15rem;
}
.sub-heading{
width: 40%;
margin-left: auto;
margin-right: 3rem;
margin-top: 5rem;
padding-bottom: 2rem;
}

.line-1{
    /* background-color: green; */
width: 20rem;
border-bottom: 3px solid rgb(0, 255, 0);
float: left;
margin-top: 2%;
margin-right: 1rem;
}

.line-2{
    /* background-color: green; */
width: 24rem;
border-bottom: 3px solid rgb(0, 255, 0);
float: left;
margin-top: 2%;
margin-right: 1rem;
}
.line-3{
    /* background-color: green; */
width: 22.5rem;
border-bottom: 3px solid rgb(0, 255, 0);
float: left;
margin-top: 2%;
margin-right: 1rem;
}
.line-4{
    /* background-color: green; */
width: 23.5rem;
border-bottom: 3px solid rgb(0, 255, 0);
float: left;
margin-top: 2%;
margin-right: 1rem;
}
.line-5{
    /* background-color: green; */
width: 21.5rem;
border-bottom: 3px solid rgb(0, 255, 0);
float: left;
margin-top: 2%;
margin-right: 1rem;
}

.sub-button{
    background-color: rgb(39, 190, 39);
    color: khaki;
    padding: .5rem 3rem;
    border-radius: 30rem;
    border: hidden;
    cursor: pointer;
    transition: all .2s;
   animation: button 1s infinite ;
}

@keyframes button{
    0%{
transform: scale(1);
box-shadow: none;
    }
    50%{
        transform: scale(1.05);
        box-shadow: 0rem 1rem 4rem rgba(0, 0, 0, .25);
    }
    100%{
        transform: scale(1);
        box-shadow: none;
    }
}


.bio-img{
    float: left;
    width: 47.5rem;
padding: 0 6%;
height: 41rem;
}

.my-portfolio{
    padding-top: 5rem;
    /* margin-bottom: 5rem; */
text-align: center;
display: block;
}
.heading-portfolio{
    margin-bottom: 2rem;
}
.pic-1{
width: 22rem;
height: 18rem;
}
.pic-2{
width: 22rem;
height: 18rem;   
}
.pic-3{
width: 22rem;
height: 18rem;
}
.pic-4{
    width: 22rem;
    height: 18rem;
}
.pic-5{
    width: 22rem;
    height: 18rem;
    }
.pic-6{
    width: 22rem;
    height: 18rem;
}
.pics{
    margin: 1rem;
    /* transform: translateX(-4rem)scale(1.4);
    backface-visibility: hidden;
    transition: all .5s; */

}
.story{
    display: inline;
    
/* position: relative;
transform: translateX(-3rem) skewX(12deg);
overflow: hidden; */
}
.fig{
    display: inline;
    position: absolute;
top: 10%;
left: 10%;
transform: translate(-50%,20%);
/* color: white; */
/* text-transform: uppercase;
font-size: 1.7rem;
text-align: center;
opacity: 0;
transition: all .5s; */

/* } */

/* .story:hover{
    opacity: 1;
    transform: translate(-50%,-50%);
    backface-visibility: hidden;

}
.story:hover .pics{
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
 */
}  