body{

background-image: url(../images/website-image.jpg);
background-repeat: no-repeat;
background-size: cover;

}

h1{
    color:white;
font-size: 250%;
}
.background{
   
    background-color: rgb(50, 100, 100);
    width: 350px;
margin: auto;
text-align: center;

}
a{
    /* font-size: 150%; */
    text-decoration: none;
    color:yellow;
    width: 100%;
    /* border-bottom: 5px yellow solid; */
    text-transform: capitalize;
/* margin: 20px; */
}
button{
    background-color: brown;
border-radius: 5px;
font-size: 150%;
}
p{
    margin-top: 20px;
}